:root {
    --blue: #33abb9;
}

li {
    font-size: 18px;
    cursor: pointer;
}

.collapsible-body li:hover {
    color: var(--blue);
}

button {
    background: #33abb9 !important;
}

.input-field label {
    color: var(--blue);
}

.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
textarea:focus + label {
    color: var(--blue) !important;
}

.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
textarea:focus {
    border-bottom: 1px solid var(--blue) !important;
    box-shadow: 0 1px 0 0 var(--blue) !important;
}

#client {
    display: none !important;
}